body, html {
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color:  #d6efdc;
}

header {
    background: #fbf2dc;
    padding: 20px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar a, .navbar .team-title {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

.navbar .team-title {
    font-weight: bold; /* Makes the text bold */
}

.navbar a:hover, .navbar .team-title:hover {
    text-decoration: underline; /* Underline on hover */
}


.box {
  width: 75%;
  height: 80px;
  color: black;
  background-color:  #fbf2dc;
  border: 1px solid forestgreen;
  padding: 10px;
  margin: 50px;
  align-items: center;
}

footer {
    padding-top: 10px;
    text-decoration: none;
    font-weight: normals;
    background: #fbf2dc;
    padding: 20px 20px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0;
    padding: 10px 0;
    font-weight: normal;
}
